.ProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.ProductList .Product {
  border-radius: 30px;
  border: 1px solid #fff;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ProductList .Product img {
  margin-top: 40px;
  border-radius: 1rem;
  border: 2px solid white;
  width: 100%;
  height: auto;
  max-height: 350px;
}
.Product img:hover {
  transition: 0.3s;
}

.ProductList .Product a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.ProductList .Product span {
  padding: 10px;
  text-align: center;
  color: rgb(8, 236, 8);
}
@media screen and (max-width: 1068px) {
  .ProductList {
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 980px) {
  .ProductList {
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
  }
}

