.use_card {
  box-sizing: border-box;
  border: 1.5px solid rgb(219, 223, 208);
  border-radius: 12px;
  transition: 0.3s;
  background: #fff;
  height: 250px;
  transition: .3s;
}
.use_card:hover{
    box-shadow: 0 0 10px 5px violet;
}
.carts{
    flex-wrap: wrap;
    display: flex;
    gap: 45px;
    justify-content: center;
}
.brands{
    margin-top: 30px;
    width: 240px;
    height: 160px;
}
.Cards_title{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
@media screen and (max-width: 1200px){
    .use_card{
      height: 150px;
      width: 150px;
    }
    .brands{
        margin-top: 30px;
        width: 140px;
        height: 80px;
    }
  }