.use_card {
  box-sizing: border-box;
  border: 1.5px solid rgb(219, 223, 208);
  border-radius: 12px;
  transition: 0.3s;
  background: #fff;
  width: 306px;
  height: 308px;
  transition: .3s;
}
.use_card:hover{
    box-shadow: 0 0 10px 5px violet;
}
.carts{
    flex-wrap: wrap;
    display: flex;
    gap: 25px;
}
.brands{
    margin-top: 60px;
    width: 240px;
    height: 160px;
}
.Cards_title{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}