.Search {
    background-color: #3b3b3b;
    margin:0px;
    border-radius: 15px;
    position: relative;
    max-height: 40px;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .Search input {
    background: #3b3b3b;
    border: 0;
    border-radius: 15px;
    color: #ffffff;
    height: 35px;
    text-align: center;
    outline: none;
    padding: 0;
  }
  
  .Search .NoResults {
    position: absolute;
    transform: translateY(-18px);
    color: white;
  }
  .Search .SearchResults {
    position: absolute;
    right: px;
    top: 130px;
  }
  .Search .searcher {
    color: #222;
    margin: 8px;
  }
  .Search input::placeholder {
    color: #cacaca;
  }
  
  @media (max-width: 640px) {
    .Search {
      display: none
    }
  }

  